WebContent/WEB-INF/wsdl/Directory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.sr03projet3" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.sr03projet3" xmlns:intf="http://service.sr03projet3" xmlns:tns1="http://beans.sr03projet3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.sr03projet3" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.sr03projet3"/>
   <element name="getCategory">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategoryResponse">
    <complexType>
     <sequence>
      <element name="getCategoryReturn" type="tns1:Category"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategories">
    <complexType/>
   </element>
   <element name="getCategoriesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCategoriesReturn" type="tns1:Category"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchAdvertisements">
    <complexType>
     <sequence>
      <element name="categoryId" type="xsd:long"/>
      <element name="ad" type="tns1:Advertisement"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchAdvertisementsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchAdvertisementsReturn" type="tns1:Advertisement"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdvertisement">
    <complexType>
     <sequence>
      <element name="ad" type="tns1:Advertisement"/>
      <element name="categoryId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdvertisementResponse">
    <complexType>
     <sequence>
      <element name="addAdvertisementReturn" type="tns1:Advertisement"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCategory">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeCategoryResponse">
    <complexType/>
   </element>
   <element name="getAdvertisement">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdvertisementResponse">
    <complexType>
     <sequence>
      <element name="getAdvertisementReturn" type="tns1:Advertisement"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCategory">
    <complexType>
     <sequence>
      <element name="c" type="tns1:Category"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCategoryResponse">
    <complexType/>
   </element>
   <element name="addCategory">
    <complexType>
     <sequence>
      <element name="c" type="tns1:Category"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCategoryResponse">
    <complexType/>
   </element>
   <element name="removeAdvertisement">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeAdvertisementResponse">
    <complexType/>
   </element>
   <element name="updateAdvertisement">
    <complexType>
     <sequence>
      <element name="ad" type="tns1:Advertisement"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAdvertisementResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.sr03projet3" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType abstract="true" name="CustomList">
    <sequence/>
   </complexType>
   <complexType name="AdvertisementList">
    <complexContent>
     <extension base="tns1:CustomList">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Category">
    <sequence>
     <element name="advertisements" nillable="true" type="tns1:AdvertisementList"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Address">
    <sequence>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="postalCode" nillable="true" type="xsd:string"/>
     <element name="street" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Advertisement">
    <sequence>
     <element name="address" nillable="true" type="tns1:Address"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="phone" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addAdvertisementResponse">

      <wsdl:part element="impl:addAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeAdvertisementRequest">

      <wsdl:part element="impl:removeAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementResponse">

      <wsdl:part element="impl:getAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCategoryRequest">

      <wsdl:part element="impl:updateCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCategoryResponse">

      <wsdl:part element="impl:addCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdvertisementRequest">

      <wsdl:part element="impl:getAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeAdvertisementResponse">

      <wsdl:part element="impl:removeAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchAdvertisementsResponse">

      <wsdl:part element="impl:searchAdvertisementsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesRequest">

      <wsdl:part element="impl:getCategories" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAdvertisementRequest">

      <wsdl:part element="impl:addAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoryResponse">

      <wsdl:part element="impl:getCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchAdvertisementsRequest">

      <wsdl:part element="impl:searchAdvertisements" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCategoryRequest">

      <wsdl:part element="impl:addCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateAdvertisementRequest">

      <wsdl:part element="impl:updateAdvertisement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCategoryRequest">

      <wsdl:part element="impl:removeCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoryRequest">

      <wsdl:part element="impl:getCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesResponse">

      <wsdl:part element="impl:getCategoriesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCategoryResponse">

      <wsdl:part element="impl:updateCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateAdvertisementResponse">

      <wsdl:part element="impl:updateAdvertisementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeCategoryResponse">

      <wsdl:part element="impl:removeCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Directory">

      <wsdl:operation name="getCategory">

         <wsdl:input message="impl:getCategoryRequest" name="getCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoryResponse" name="getCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategories">

         <wsdl:input message="impl:getCategoriesRequest" name="getCategoriesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoriesResponse" name="getCategoriesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchAdvertisements">

         <wsdl:input message="impl:searchAdvertisementsRequest" name="searchAdvertisementsRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchAdvertisementsResponse" name="searchAdvertisementsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAdvertisement">

         <wsdl:input message="impl:addAdvertisementRequest" name="addAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAdvertisementResponse" name="addAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCategory">

         <wsdl:input message="impl:removeCategoryRequest" name="removeCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeCategoryResponse" name="removeCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisement">

         <wsdl:input message="impl:getAdvertisementRequest" name="getAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdvertisementResponse" name="getAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCategory">

         <wsdl:input message="impl:updateCategoryRequest" name="updateCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCategoryResponse" name="updateCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCategory">

         <wsdl:input message="impl:addCategoryRequest" name="addCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCategoryResponse" name="addCategoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeAdvertisement">

         <wsdl:input message="impl:removeAdvertisementRequest" name="removeAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeAdvertisementResponse" name="removeAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateAdvertisement">

         <wsdl:input message="impl:updateAdvertisementRequest" name="updateAdvertisementRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateAdvertisementResponse" name="updateAdvertisementResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DirectorySoapBinding" type="impl:Directory">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCategories">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoriesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoriesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchAdvertisements">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchAdvertisementsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchAdvertisementsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateAdvertisement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAdvertisementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateAdvertisementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DirectoryService">

      <wsdl:port binding="impl:DirectorySoapBinding" name="Directory">

         <wsdlsoap:address location="http://localhost:8080/sr03projet3/services/Directory"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
